#!/usr/bin/make -f

export PYBUILD_NAME=pt_web_vnc
# Override default 'python3-pt-web-vnc' behaviour
export PYBUILD_DESTDIR_python3=debian/pt-web-vnc/

%:
	dh $@ --buildsystem=pybuild

override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable --name=pt-web-vnc-desktop
